.wrap-menu {
    width:778px; 
    margin:0 auto; 
    margin-top: 5px;
    overflow:auto; 
    width:300px; 
    background:#F6F6F6; 
    font:12px/1.5 Tahoma,Arial,sans-serif;
}
.wrap-menu ul{ 
    list-style:none; 
    margin:0; 
    padding:0;
}
.wrap-menu ul li{ 
    text-indent:3em; 
    white-space:nowrap; 
}
.wrap-menu ul li h2{ 
    cursor:pointer; 
    height:100%; 
    width:100%; 
    margin:0 0 1px 0; 
    font:12px/31px '宋体'; 
    color:#fff; 
    background:#002147;
}
.wrap-menu ul li a{ 
    display:block; 
    outline:none; 
    height:25px; 
    line-height:25px; 
    margin:1px 0; 
    color:#1A385C; 
    text-decoration:none;
}
.wrap-menu ul li img{ 
    margin-right:10px; 
    margin-left:-17px; 
    margin-top:9px; 
    width:7px; 
    height:7px; 
    background:url(../images/arrow.gif) no-repeat; 
    border:none;
}
.wrap-menu ul li img.unfold{ 
    background-position:0 -9px;
}
.wrap-menu ul li a:hover{ 
    background-color:#ccc; 
    background-image:none;
}