<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzx.xsbdsys.repository.ato.TbMajorMapper">
  <resultMap id="BaseResultMap" type="com.wzx.xsbdsys.model.ato.TbMajor">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="MajorID" jdbcType="VARCHAR" property="majorid" />
    <result column="MajorName" jdbcType="VARCHAR" property="majorname" />
    <result column="DepartmentID" jdbcType="VARCHAR" property="departmentid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MajorID, MajorName, DepartmentID
  </sql>
  <select id="selectByExample" parameterType="com.wzx.xsbdsys.model.ato.TbMajorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_major
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_major
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_major
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wzx.xsbdsys.model.ato.TbMajorExample">
    delete from tb_major
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wzx.xsbdsys.model.ato.TbMajor">
    insert into tb_major (ID, MajorID, MajorName, 
      DepartmentID)
    values (#{id,jdbcType=INTEGER}, #{majorid,jdbcType=VARCHAR}, #{majorname,jdbcType=VARCHAR}, 
      #{departmentid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wzx.xsbdsys.model.ato.TbMajor">
    insert into tb_major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="majorid != null">
        MajorID,
      </if>
      <if test="majorname != null">
        MajorName,
      </if>
      <if test="departmentid != null">
        DepartmentID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="majorid != null">
        #{majorid,jdbcType=VARCHAR},
      </if>
      <if test="majorname != null">
        #{majorname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null">
        #{departmentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wzx.xsbdsys.model.ato.TbMajorExample" resultType="java.lang.Long">
    select count(*) from tb_major
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_major
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.majorid != null">
        MajorID = #{record.majorid,jdbcType=VARCHAR},
      </if>
      <if test="record.majorname != null">
        MajorName = #{record.majorname,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentid != null">
        DepartmentID = #{record.departmentid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_major
    set ID = #{record.id,jdbcType=INTEGER},
      MajorID = #{record.majorid,jdbcType=VARCHAR},
      MajorName = #{record.majorname,jdbcType=VARCHAR},
      DepartmentID = #{record.departmentid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzx.xsbdsys.model.ato.TbMajor">
    update tb_major
    <set>
      <if test="majorid != null">
        MajorID = #{majorid,jdbcType=VARCHAR},
      </if>
      <if test="majorname != null">
        MajorName = #{majorname,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null">
        DepartmentID = #{departmentid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzx.xsbdsys.model.ato.TbMajor">
    update tb_major
    set MajorID = #{majorid,jdbcType=VARCHAR},
      MajorName = #{majorname,jdbcType=VARCHAR},
      DepartmentID = #{departmentid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>